* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
    border: 1px solid black;
}

.nav-items-container > ul {
    display: flex;
    gap: 2rem;
}

.nav-items-container > ul > li {
    list-style: none;
}

.logo {
    height: 50px;
    width: 50px;
}

main {
    margin: 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.card {
    width: 250px;
    border: 1px solid black;
}

.card > img {
    width: 100%;
}
